/*soundcloud*/
.iframe_soundcloud {
	height: 10.5em;
	width: 57%;
}

/*soundcloud albums*/
.iframe_soundcloud_sets {
	height: 19.5em;
	width: 57%;
}

/*audiomack*/
.iframe_audiomack {
	height: 15em;
	width: 50%;
}

/*audiojams*/
.iframe_audiojams {
	height: 7em;
	width: 45%;
}

/*youtube*/
.iframe_youtube {
	height: 22em;
	width: 34%;
}

/*itunes song*/
.iframe_itunes_post {
	height: 6.5em;
	width: 40%;
}

/*itunes*/
.iframe_itunes {
	height: 20em;
	width: 60%;
}

iframe {
	position: relative;
	height: 100%;
	width: 100%;
}